language: python

python:
- "2.7"
- "3.6"

before_install:
# install radiance
- wget https://github.com/NREL/Radiance/releases/download/5.2.1/radiance-5.2.91bcc23df3-Linux.tar.gz
- tar -xzvf radiance-5.2.91bcc23df3-Linux.tar.gz
- sudo cp -a radiance-5.2.91bcc23df3-Linux/usr/local/radiance/bin/. /usr/local/bin
- sudo cp -a radiance-5.2.91bcc23df3-Linux/usr/local/radiance/lib/. /usr/local/lib/ray
- sudo apt-get install libtiff5

install:
- pip install -r dev-requirements.txt

script:
- python -m pytest --cov=. tests/

after_success:
- coverage report
- coveralls

jobs:
  include:
  - stage: deploy
    python: "3.6"
    if: branch = master AND (NOT type IN (pull_request))
    before_install:
    - nvm install lts/* --latest-npm
    install:
    - pip install -r dev-requirements.txt
    - npm install @semantic-release/exec
    script:
    - git config --global user.email "releases@ladybug.tools"
    - git config --global user.name "ladybugbot"
    - npx semantic-release
    deploy:
      provider: pages
      skip_cleanup: true
      github-token: $GH_TOKEN
      keep-history: false
      local_dir: docs/_build/
      on:
        branch: master
